.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.productPrice {
  display: flex;
  flex-direction: row-reverse;
  color: #008000;
}
