.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.productPrice {
  display: flex;
  flex-direction: row-reverse;
  color: #008000;
}

.imgTrue {
  height: 45%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.imgBg {
  height: 90%;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.imgFg {
  height: 30%;
  width: 75%;
  position: absolute;
  top: 25px;
  left: 25px;
}
